.internal-linking {
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.internal-linking-admin form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 30%;
}